@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil1Thin.woff2")
    format("woff2");
  font-style: thin;
  font-weight: 100;
}
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2")
    format("woff2");
  font-style: light;
  font-weight: 300;
}
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2")
    format("woff2");
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2")
    format("woff2");
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "TheJamsil";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil6ExtraBold.woff2")
    format("woff2");
  font-style: extrabold;
  font-weight: 800;
}
@font-face {
  font-family: "Novecento";
  src: url("@/assets/fonts/Novecento/Novecento UltraBold.woff2");
  font-style: ultrabold;
  font-weight: 800;
}
@font-face {
  font-family: "Novecento";
  src: url("@/assets/fonts/Novecento/Novecento UltraBold.woff2");
  font-style: demibold;
  font-weight: 600;
}

:root {
  --csl-red: #cd2e3a;
  --csl-red-rgb: 205, 46, 58;
  --csl-red-light: #d1564f;
  --csl-red-light-rgb: 209, 86, 79;
  --csl-blue: #0047a0;
  --csl-blue-rgb: 0, 71, 160;
  --csl-blue-light: #6973b9;
  --csl-blue-light-rgb: 105, 115, 185;
}

*:has(.scene) {
  margin: 0;
  padding: 0;
}

.scene {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;

  /* comment below out on production */
  background-image: url("img/testbg.png");
}

.novecento {
  font-family: "Novecento", "Noto Sans KR";
}

.theJamsil {
  font-family: "theJamsil", "Noto Sans KR";
}

.poppins {
  font-family: "Poppins", "Noto Sans KR";
}
