@import "./base.css";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes upNextPulse {
  0% {
    opacity: 0.3;
  }
  45%,
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.mono {
  font-family: monospace, monospace;
}

.control-trigger {
  font-weight: 900;
  border: solid red 4px;
}

.horizontal-box {
  display: flex;
  flex-direction: row;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switchPage-enter-active {
  opacity: 0;
  animation: 500ms fadeIn 500ms;
}

.switchPage-leave-active {
  animation: fadeIn 500ms reverse;
}
