.skewedBoxWrapper {
  background: white;
  transform: skew(-30deg);
}

.contentWrapper {
  overflow: hidden;
  position: relative;
}

.content {
  position: relative;
  transform: skew(30deg);
}

.divider {
  width: 24px;
  min-width: 24px;
}

.divider.red {
  background-color: var(--csl-red);
}

.divider.blue {
  background-color: var(--csl-blue);
}
